[submodule "thirdparty/re2"]
	path = thirdparty/re2
	url = https://github.com/google/re2.git
[submodule "thirdparty/abseil-cpp"]
	path = thirdparty/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "rpt"]
	path = rpt
	url = https://github.com/Mr-shunshun/rpt_dir_module.git
