[submodule "thirdparty/re2"]
  path = thirdparty/re2
  url = git@github.com:kinling9/re2.git
[submodule "thirdparty/abseil-cpp"]
  path = thirdparty/abseil-cpp
  url = https://github.com/abseil/abseil-cpp.git
[submodule "rpt"]
  path = rpt
  url = git@github.com:kinling9/slack_tools_rpts.git
[submodule "thirdparty/argparse"]
  path = thirdparty/argparse
  url = https://github.com/p-ranav/argparse.git
[submodule "thirdparty/yaml-cpp"]
  path = thirdparty/yaml-cpp
  url = https://github.com/jbeder/yaml-cpp.git
[submodule "thirdparty/fmt"]
  path = thirdparty/fmt
  url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "configs"]
	path = configs
	url = git@github.com:kinling9/slack_tools_config.git
[submodule "thirdparty/csv-parser"]
	path = thirdparty/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
[submodule "pta_predict_model"]
	path = pta_predict_model
	url = git@github.com:kinling9/pta_predict_model.git
